<div class="container-fluid">
    <button type="button" class="btn btn-primary" (click)="crearToggle()">
        Crear Tienda
    </button>
</div>
<div class="card border-primary">
    <div class="card-header">Tienda</div>
    <div class="card-body text-primary">
    <h4 class="card-title">Listado Tiendas</h4>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tienda of tiendas">
                <td>{{tienda.nombre}}</td>
                <td>{{tienda.direccion}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="editarToggle(tienda)">
                        Editar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="eliminar(tienda)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
</div>
<!-- Modal -->
<div id="crear" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Tienda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="crearToggle()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <app-crear-tienda (tiendaEventoCrear)="crear($event)"></app-crear-tienda>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="editar" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Tienda</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editarToggle(startTienda)">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <app-editar-tienda [tienda]="selectedTienda" (tiendaEventoEditar)="editar($event)"></app-editar-tienda>
            </div>
        </div>
    </div>
</div>