<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="/directivas" rooterLink="/directivas">Directivas</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="/clientes" rooterLink="/clientes">Clientes</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="/juegos" rooterLink="/juegos">Juegos</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="/stock" rooterLink="/stock">Stock</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="/companias" rooterLink="/companias">Compañias</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="/tiendas" rooterLink="/tiendas">Tiendas</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="/roles" rooterLink="/roles">Roles</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <a class="dropdown-item" href="#">Action 1</a>
                    <a class="dropdown-item" href="#">Action 2</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>