<form (ngSubmit)="emitir()">
    <div class="form-group">
      <label for="reference">Referencia</label>
      <input type="number" name="reference" id="reference" class="form-control" placeholder="Referencia" [(ngModel)]="stock.reference">
    </div>
    <div class="form-group">
      <label for="estado">Estado</label>
      <select class="form-control" name="estado" id="estado" [(ngModel)]="stock.estado">
        <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>