<form (ngSubmit)="juegoUpdated()">
    <div class="form-group">
        <label for="titulo">Titulo</label>
        <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Titulo" [(ngModel)]="juego.titulo">
    </div>
    <div class="form-group">
        <label for="fechaLanzamiento">Fecha Lanzamiento</label>
        <input type="date" class="form-control" id="fechaLanzamiento" name="fechaLanzamiento" placeholder="Fecha Lanzamiento" (change)="formatFechaLanzamiento($event.target.value)">
    </div>
    <div class="form-group">
        <label for="categoria"></label>
        <select class="form-control" name="categoria" id="categoria" [(ngModel)]="juego.categoria">
            <option *ngFor="let c of categorias" [value]="c">{{c}}</option>
        </select>
    </div>
    <div class="form-group">
        <label for="pegi">PEGI</label>
        <input type="text" class="form-control" id="pegi" name="pegi" placeholder="PEGI" [(ngModel)]="juego.pegi">
    </div>
    <div class="form-group">
        <label for="companias">Compañias</label>
        <select id="companias" name="companias" class="form-control" [(ngModel)]="juego.companias" [compareWith]="compareCompany" multiple>
          <option *ngFor="let companyOption of companias" [ngValue]="companyOption">{{ companyOption.nombre }}</option>
      </select>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>