<div class="card border-primary">
    <div class="card-header">Login</div>
    <div class="card-body text-primary">
        <form>
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" name="username" id="username" class="form-control" placeholder="Username" required maxlength="255" [(ngModel)]="credentials.username" #username="ngModel">
              <div class="alert alert-danger" *ngIf="username.invalid && username.touched">
                Debe rellenar usuario
              </div>
            </div>
            <div class="form-group">
              <label for="password"></label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Password" required maxlength="255" [(ngModel)]="credentials.password" #password="ngModel">
              <div class="alert alert-danger" *ngIf="password.invalid && password.touched">
                Debe rellenar contraseña
              </div>
            </div>
            <button type="submit" class="btn btn-primary" (click)="login()">
                Submit
            </button>
        </form>
    </div>
</div>