<div class="container-fluid">
    <button type="button" class="btn btn-primary" (click)="crearToggle()">
        Crear Compañia
    </button>
</div>
<div class="card border-primary">
<div class="card-header">Compañia</div>
  <div class="card-body text-primary">
    <h4 class="card-title">Listado Compañias</h4>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>cif</th>
                <th>nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let comp of companias">
                <td>{{comp.cif}}</td>
                <td>{{comp.nombre}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="editarToggle(comp)">
                        Editar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="eliminar(comp)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div id="crear" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="crearToggle()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <app-crear-compania (compEventoCrear)="crear($event)"></app-crear-compania>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="editar" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editarToggle(startCompania)">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <app-editar-compania [comp]="selectedComp" (compEventoEditar)="editar($event)"></app-editar-compania>
            </div>
        </div>
    </div>
</div>