<form (ngSubmit)="emitir()">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="tienda.nombre">
    </div>
    <div class="form-group">
        <label for="direccion">Direccion</label>
        <input type="text" name="direccion" id="direccion" class="form-control" placeholder="Direccion" [(ngModel)]="tienda.direccion">
    </div>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>