<form (ngSubmit)="emitir()">
    <div class="form-group">
      <label for="cif">CIF</label>
      <input type="number" name="cif" id="cif" class="form-control" placeholder="CIF" [(ngModel)]="comp.cif">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control" placeholder="" [(ngModel)]="comp.nombre">
    </div>
    <button type="submit" class="btn btn-primary">
        Submit
    </button>
</form>