<div class="container-fluid">
    <button type="button" class="btn btn-primary" (click)="toggleModalCrear()">Crear Juego</button>
</div>
<div class="card border-primary">
    <div class="card-header">Juegos</div>
    <div class="card-body text-primary">
        <h4 class="card-title">Listado Juegos</h4>
        
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>titulo</th>
                    <th>fecha lanzamiento</th>
                    <th>categoria</th>
                    <th>pegi</th>
                    <th>compañias</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let juego of juegos">
                    <td>{{juego.titulo}}</td>
                    <td>{{juego.fechaLanzamiento}}</td>
                    <td>{{juego.categoria}}</td>
                    <td>{{juego.pegi}}</td>
                    <td>{{listaCompanias(juego)}}</td>
                    <td>
                        <button type="button" class="btn btn-primary" (click)="modalToggle(juego)">
                            Editar
                        </button>
                    </td>
                    <td>
                        <a class="btn btn-primary" (click)="juegoDelete(juego)" role="button">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div id="myModal" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edita el Juego</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-editar-juego [juego]="selectedJuego" [companias]="companias" (updatedJuego)="juegoUpdated($event)"></app-editar-juego>
            </div>
        </div>
    </div>
</div>
<div id="myModalCrear" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear el Juego</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="toggleModalCrear()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-crear-juego [companias]="companias" (newJuego)="juegoCreate($event)"></app-crear-juego>
            </div>
        </div>
    </div>
</div>