<div class="container-fluid">
    <button type="button" class="btn btn-primary" (click)="crearToggle()">
        Crear Stock
    </button>
</div>
<div class="card border-primary">
    <div class="card-header">Stock</div>
    <div class="card-body text-primary">
    <h4 class="card-title">Listado Stocks</h4>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>estado</th>
                <th>referencia</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of stocks">
                <td>{{stock.estado}}</td>
                <td>{{stock.reference}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="editarToggle(stock)">
                        Editar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="eliminar(stock)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
</div>
<!-- Modal -->
<div id="crear" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Stock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="crearToggle()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <app-crear-stock (stockEventoCrear)="crear($event)"></app-crear-stock>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="editar" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Stock</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editarToggle(startStock)">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <app-editar-stock [stock]="selectedStock" (stockEventoEditar)="editar($event)"></app-editar-stock>
            </div>
        </div>
    </div>
</div>