<div class="container-fluid">
    <button type="button" class="btn btn-primary" (click)="modalToggle()">
        Crear Rol
    </button>
</div> 
<div class="card border-primary">
    <div class="card-header">Cliente</div>
    <div class="card-body text-primary">
    <h4 class="card-title">Listado Clientes</h4>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>rol</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rol of roles">
                <td>{{rol.rol}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="rolDelete(rol)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    </div>
</div>
<div id="myModal" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edita el Juego</h5>
                <button type="button" class="close" data-dismiss="modal" (click)="modalToggle()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-crear-rol (newRol)="rolCreate($event)"></app-crear-rol>
            </div>
        </div>
    </div>
</div>