<form (ngSubmit)="crearRol()">
    <div class="form-group">
        <label for="categoria">Usuarios disponibles para crear</label>
        <select class="form-control" name="categoria" id="categoria" [(ngModel)]="rol.rol">
            <option *ngFor="let c of categorias" [value]="c">{{c}}</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>