<form (ngSubmit)="emitir()">
    <div class="form-group">
      <label for="correo">Correo</label>
      <input type="email" name="email" id="email" class="form-control" placeholder="Email" [(ngModel)]="cliente.correo" required>
    </div>
    <div class="form-group">
      <label for="documento">Documento</label>
      <input type="text" name="documento" id="documento" class="form-control" placeholder="Documento" [(ngModel)]="cliente.documento" required>
    </div>
    <div class="form-group">
      <label for="fechaNacimiento">Fecha Nacimiento</label>
      <input type="date" name="fechaNacimiento" id="fechaNacimiento" class="form-control" placeholder="Fecha Nacimiento" [(ngModel)]="cliente.fechaNacimiento">
    </div>
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="form-control" placeholder="Nombre" [(ngModel)]="cliente.nombre" required>
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" name="username" id="username" class="form-control" placeholder="" [(ngModel)]="cliente.username" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="form-control" placeholder="" [(ngModel)]="cliente.password" required>
    </div>
    <button type="submit" class="btn btn-primary">
        Save
    </button>
</form>