<div class="container-fluid">
    <button type="button" class="btn btn-primary" (click)="crearToggle()">
        Crear Cliente
    </button>
</div>
<div class="card border-primary">
<div class="card-header">Cliente</div>
  <div class="card-body text-primary">
    <h4 class="card-title">Listado Clientes</h4>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>nombre</th>
                <th>fecha nacimineto</th>
                <th>correo</th>
                <th>documento</th>
                <th>username</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cliente of clientes">
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.fechaNacimiento}}</td>
                <td>{{cliente.correo}}</td>
                <td>{{cliente.documento}}</td>
                <td>{{cliente.username}}</td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="editarToggle(cliente)">
                        Editar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-primary" (click)="eliminar(cliente)">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div id="crear" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Crear Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="crearToggle()">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <app-crear-cliente (clienteEventoCrear)="crear($event)"></app-crear-cliente>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div id="editar" class="modal d-none" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Cliente</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="editarToggle(startClient)">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <app-editar-cliente [cliente]="selectedCliente" (clienteEventoEditar)="editar($event)"></app-editar-cliente>
            </div>
        </div>
    </div>
</div>